@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
}
:root {
  --toastify-font-family: var(--font-roboto);
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f3dba9 0%, #ffa031 100%);
  border-radius: 999px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
  background: #e1c8ab;
  border-radius: 999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ae2525 0%, #ee3838 50%, #b80000 100%);
  border-radius: 999px;
}
.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f9c174;
}
